//
// Custom Styles
//

// Custom
@import "custom/custom";

$clrWineRed: #823434;
$clrLabBlack: #434343;

#navBar  {
	* {
		color: $clrLabBlack;
	}
}

.iframe-vid-block {
	position: relative;
	height: 0;
	padding-bottom: 56.5%;
	max-width: 100%;
}

.bel-hero-top-one {
	height: 86px;
	
}

.bel-hero-top-two {

}