//
// Custom Styles
//

// Custom
@import "custom/custom";

$wineRed = #823434;

#navBar  {
	* {
		color: $wineRed;
	}
}

.iframe-vid-block {
	position: relative;
	height: 0;
	padding-bottom: 56.5%;
	max-width: 100%;
}